.body {
	background-color: #988989;
}

.game {
	width: 600px;
	height: 200px;
	border-bottom: 1px solid #000;
	margin: auto;
	background-color: #fff;
}

#dino {
	width: 50px;
	height: 50px;
	background-image: url(img/png-transparent-gray-dinosaur-illustration-tyrannosaurus-t-shirt-dino-t-rex-runner-2-lonely-t-rex-run-2-google-chrome-8-bit-game-angle-text-thumbnail.png);
	background-size: 50px 50px;
	position: relative;
	top: 150px;

}
#cactus {
	width: 30px;
	height: 40px;
	background-image: url(img/png-transparent-game-off-game-jam-gamedev-net-video-game-cactus-game-angle-text-thumbnail.png);
	position: relative;
	top: 110px;
	left: 580px;
	animation: cactusMov 2s infinite linear;
}
@keyframes cactusMov  {
	0%{
		left: 580px;

	}
	100%{
		left: -20px;
	}
	
}
.jump{
	animation: jump 0.4s linear;
}
@keyframes jump  {
	0%{
		top: 150px;

	}
	30%{
		top: 130px;

	}
	50%{
		top: 60px;

	}
	80%{
		top: 130px;

	}
	100%{
		top: 150px;
	}
}
